:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --bg-blac:#111b2a;
  }

.wrapper-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

.wrapper-footer{
    width: 100%;
    height: 200px;
    background-color: var(--bg-blac);
}